<footer class="mt-5 py-3 bg-dark text-light">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <div class="titleName display-1 mb-5 mt-3 fw-bold">
        BlogIT Inc.
      </div>
    </div>
    <hr class="mt-5">
    <div class="baseFooter text-center fs-5 fw-bold">
      Copyright &copy; Manan Doshi 2021
    </div>
  </div>
</footer>