<html>
  <%- include("./partials/head.ejs", {title:'About Us'})  %> 
  <body>
    <%- include("./partials/nav.ejs",{page:'about'}) %>     
    <h1 class="display-1 text-center mt-5">About Us</h1>
    <div class="container w-75 mt-5">      
      <div class="content fs-3 text-center">
        This is a blog website created using Node.JS, Express.JS, EJS.
        It is a practice website for portfolio developed by <a href="https://github.com/MananDoshi1301" target="_blank" rel="noreferrer" class="fst-italic fw-bold text-secondary text-decoration-underline" style="text-decoration: none;">Manan Doshi</a>. For information about the website's code visit <a href="https://github.com/MananDoshi1301/BlogIT-Node-Express" target="_blank" rel="noopener noreferrer" style="text-decoration: none;" class="fst-italic fw-bold text-secondary text-decoration-underline">Github</a>
      </div>
    </div>
  </body>
</html>